* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++    Common */

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    border-radius: 24.5px;
    background: #171100;
    color: #fff;
    text-align: center;
    padding: 14px 41px;
    font-size: 1.6rem;
    font-weight: 600;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++    Header */
.header {
    background: #fffcf4;
    height: 88px;
}

.header.fixed {
    position: sticky;
    top: 10px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 10px;
}

.navbar {
    margin-left: auto;
}

.header .navbar ul {
    display: flex;
}

.navbar a:hover,
.navbar li.action a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.header ul a {
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 10px 21px;
    position: relative;
}

.navbar li.active a::after {
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    top: 37px;
    left: 21px;
    border-radius: 1px;
    background: #171100;
}

.header .body .active .btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

.header .btn {
    min-width: 144px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++    Hero */

.hero {
    background: #fffcf4;
    padding-top: 67px;
    padding-bottom: 65px;
}

.hero .hero-body {
    display: flex;
    justify-content: space-between;
}

.hero .left-block {
    display: flex;
    position: relative;
}

.hero .left-block .hero-img {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.hero-body .summary {
    position: absolute;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    width: 270px;
    height: 244px;
    bottom: 48px;
    left: 300px;
    padding: 24px 58px 24px 24px;
}

.summary .item {
    display: flex;
    align-items: center;
}

.summary .item:not(.summary .item:first-child) {
    margin-top: 22px;
}

.summary .item .icon {
    background: #fff9e8;
    padding: 12px;
    border-radius: 50%;
}

.summary .item:nth-child(2) .icon {
    background: #fcefff;
}

.summary .item:nth-child(3) .icon {
    background: #ebeaff;
}

.summary .item .info {
    margin-left: 16px;
}

.summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
}

.summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.7;
}

.hero .right-block {
    width: 470px;
    margin-top: 64px;
}

.hero .right-block h1 {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    /* 117.241% */
    letter-spacing: -1.16px;
    margin-bottom: 22px;
}

.hero .right-block .desc {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    /* 166.667% */
}

.hero .action-watch {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.hero .btn {
    background: #ffb900;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.66;
    font-weight: 600;
    min-width: 180px;
    padding: 17px 33px;
    border-radius: 32px;
}

.hero .play-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    margin-left: 28px;
}

.hero .right-block span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 14px;
}

.right-block .figures {
    margin-top: 8px;
}

.right-block .figures strong {
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.22;
    /* 122.727% */
}

.right-block .figures span {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++    Popular */

.popular {
    margin-top: 200px;
}

.popular h2 {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.popular-head {
    position: relative;
}

.popular .navigation {
    display: flex;
    position: absolute;
    right: 0;
    top: 42px;
}

.popular .navigation-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.popular .navigation .l-btn {
    border: 1px solid #ffb900;
    margin-left: auto;
}

.popular .navigation .r-btn {
    background: #ffb900;
    margin-left: 18px;
}

.popular .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    /* 166.667% */
    width: 458px;
    margin-top: 16px;
}

.popular .course-list {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}

.popular .course-item {
    width: 370px;
    height: 466px;
}

.popular .img-course {
    width: 370px;
    height: 278px;
    object-fit: cover;
}

.popular .head {
    margin-top: 16px;
    display: flex;
    padding: 0 22px;
}

.popular .info h3 {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    /* 166.667% */
}

.popular .info .rating {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.popular .rating img {
    width: 18px;
    height: 18px;
}

.popular .rating span {
    margin-left: 6px;
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.popular .course-item .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    padding: 0 22px;
}

.popular .foot {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
}

.popular .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.popular .btn {
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85;
    padding: 12px 24px;
    border-radius: 25px;
    min-width: 118px;
}

.popular .course-item:first-child .btn {
    background: #ffb900;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++    feedback */

.feedback {
    margin-top: 200px;
    background: #2e2100;
    height: 380px;
    display: flex;
    align-items: center;
}

.feedback .content {
    display: flex;
    justify-content: space-between;
}

.feedback .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
}

.feedback .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.feedback .left .dotted {
    margin-top: 28px;
    width: 30px;
    height: 6px;
}

.feedback .right {
    width: 770px;
    position: relative;
}

.feedback .right img {
    width: 30px;
    height: 28px;
    background: #634700;
}

.feedback .comment {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53;
    position: absolute;
    left: 30px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++    Features  Top*/
.features-top .body {
    margin-top: 200px;
    height: 438px;
    display: flex;
    align-items: center;
}

.features-img {
    display: flex;
}

.features-top .img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
}

.features-img .img:first-child {
    margin-top: 34px;
}

.features-img .img:last-child {
    margin-left: 30px;
}

.features-top .content {
    width: 470px;
    margin-left: auto;
}

.features-head {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.features-top .desc {
    margin: 16px 0;
    color: #5F5B53;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
}

.features-top .btn {
    margin-top: 16px;
    padding: 11px 37px;
    border-radius: 26px;
    background: #FFB900;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
    font-weight: 600;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++    Features  Bot*/

.features-bot .body {
    margin-top: 200px;
    display: flex;
    height: 440px;
    justify-content: space-between;
    align-items: center;
}

.features-bot .content {
    width: 570px;
}

.features-bot .desc {
    margin: 16px 0 32px;
    color: #5F5B53;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
}

.features-bot .btn {
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    padding: 12px 32px 10px 31px;
    border-radius: 26px;
    background: #FFB900;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++    Our blog*/

.blog {
    margin-top: 200px;
    background: #FFFCF4;
    height: 878px;
}

.blog .head {
    padding-top: 96px;
    display: flex;
    justify-content: center;
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.blog-head .desc {
    margin-top: 16px;
    display: flex;
    width: 448px;
    margin-left: auto;
    margin-right: auto;
    color: #696262;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}

.blog .list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.blog .item:hover {
    background: #fff;
}

.blog .log-img {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .date {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.blog .item .desc {
    margin-left: 4px;
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    position: relative;
}

.blog .item .dotted {
    width: 6px;
    height: 6px;
}

.blog .item .desc::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 38px;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
}

.blog .item .title {
    margin-top: 25px;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.blog .btn {
    margin-top: 12px;
    padding: 12px 21px;
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85;
    border-radius: 25px;
}

.blog .list .item:first-child .btn {
    background: #FFB900;
}

.blog .blog-dot {
    margin-top: 38px;
    width: 30px;
    height: 6px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++    Footer*/
footer {
    height: 428px;
    background: #2E2100;
    color: #fff;
    padding-top: 96px;
}

.row {
    display: flex;
}

.row .column:not(.row .column:first-child) {
    margin-left: 130px;
}

.row .column:first-child {
    margin-right: 15px;
    width: 267px;
}

.row .column .desc {
    margin-top: 18px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.row .social {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.row h3 {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    position: relative;
}

.row h3::after {
    position: absolute;
    top: 42px;
    left: 0;
    content: "";
    width: 130px;
    height: 1px;
    background: #59554B;
}

.row .list {
    margin-top: 25px;
}

.row .column:nth-child(2) {
    width: 130px;
}

.row .column:nth-child(3) {
    width: 137px;
}

.row .column:last-child {
    width: 231px;
}

.row .item {
    margin-top: 18px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.row strong {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85;
}

footer .foot {
    position: relative;
    display: flex;
    justify-content: center;
}

footer .foot .desc {
    margin-top: 67px;
    color: #807D74;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

footer .foot .desc::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 1170px;
    background: #59554B;
    left: 0;
    bottom: 54px;
}